.file-input {
  font-size: 1.5rem;
  background-color: rgb(5, 3, 3);
  position: relative;
  outline: 2px dashed #bbb;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out,
    background-color .15s linear;
  transition: outline-offset .15s ease-in-out,
    background-color .15s linear;
  vertical-align: -webkit-baseline-middle;
  /* vertical-align: middle; */
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 2rem 0;
  height: 60vh;
  max-width: 70vw;
  color: #bbb;
  text-shadow: -1px 1px 1px #888;
  font-size: 2rem;
  box-shadow: -10px 10px 1px rgb(75, 65, 65);
  transition: 0.25s linear;
}

.file-input:hover {
  box-shadow: -13px 13px 2px rgb(87, 80, 80);
}

.file-row {
  line-height: 20vh !important;
}

.drag-over {
  outline-offset: -20px;
}

svg {
  vertical-align: middle;
  pointer-events: none;
}

.file-input__icon {
  max-width: 100%;
  height: 15vh;
  fill: #bbb;
}

.file-map {
  display: none;
  visibility: hidden;
}

.click-here:hover {
  cursor: pointer;
}

.extra-large {
  font-size: 5rem;
  font-weight: bolder;
  transition: 0.25s linear;
}

.landing {
  margin-top: 8rem;
  font-size: 3rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
}

.acro-text {
  display: none;
  font-size: 2rem;
  text-shadow: none;
  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}

.acro:hover .acro-text {
  display: block;
}

.acro:hover .extra-large {
  padding-right: 15px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: contents;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
    display: inline-block;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08 --credits for fade in */

.title {
  color: rgb(5,3,3);
  text-shadow: -2px 2px 2px rgba(5,3,3, 0.5);
  transition: 0.25s linear;
  border: none;

}

.title:hover {
  text-shadow: -2px 2px 4px rgba(5,3,3, 0.5);
}

.underline {
  display: inline;

  background-image: linear-gradient(to left,rgba(5,3,3,0.9),transparent);
  background-position: 0 1.1em!important;
  background-repeat: repeat-x;
  background-size: 100% 5px!important;
}

.underline:hover {
  background-size: 100% 10px!important;
  background-position: 0 1.05em!important;
}

.text {
  font-size: 2rem;
  text-shadow: none;
  letter-spacing: normal;
  padding-left: 2.5rem;
}

.btn {
  background-color: rgb(5, 3, 3);
  color: white;
  box-shadow: -5px 5px 1px rgb(75, 65, 65);
  letter-spacing: 1.15px;
  transition: 0.25s linear;
  margin-top: 2rem;
  padding: 0.75rem;
  min-height: 6vh;
  min-width: 15vw;
  outline: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn:disabled {
  background-color: #333;
  color: #999;
  box-shadow: -5px 5px 1px #777;
  letter-spacing: 1.15px;
  transition: 0.25s linear;
  margin-top: 2rem;
  padding: 0.75rem;
  min-height: 6vh;
  width: 15vw;
  outline: none;
  font-size: 1.5rem;
}

.btn:hover {
  box-shadow: -7px 7px 2px #999;
}

.inp {
  /* box-shadow: 0 0 10px 5px rgba(0,5,0.3,0.1)!important; */
  box-shadow: 0 0 10px 5px rgba(200,200,200,0.9)!important;
  border-radius: 70px!important;
  background-color: rgb(5,3,3)!important;
  color: white!important;
}

.dropdown.inp.ui.selection * {
  font-size: 1rem;
}

.dropdown.inp.ui.selection div {
  margin-right: 2rem;
}

.training {
  margin: 5rem;
}
.training label {
  font-size: 1.5rem;
  text-shadow: 1px 1px black;
}

.evidence {
  display: flex;
  margin: 1rem 0;
}

.evidence input {
  width: 40%!important;
  float: right;
}

.evidence label {
  width: 60%;
  float: left;
}